<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userName</key>
	<string>name</string>
	<key>userInfo</key>
	<string>info</string>
	<key>userColor</key>
	<data>MjAxNy0wNC0yMFQyMToyMjoyOVo=</data>
	<key>userImage</key>
	<data></data>
</dict>
</plist>
